Роли в системе:
1. Смотритель
-Доступ к информации о своем месте назначения
2. Владелец
-Доступ к информации о всех сотрудниках
-Доступ к информации о всех животных
-Управление пользователями
-Управление животными
-Доступ к журналированию
-Управление билетами
-Управление ролями
3. Ветеринар
-Доступ к информации о животном, которое он лечит
-Управление рационом животного
-Управление лекарствами животного
4. Посетитель
-Доступ к информации о билетах
-Доступ к информации о животных(вид и вольер)
-Возможность оставить отзыв
Общие требования:
-Журналирование действий пользователя
-Авторизация/ аутенфикация пользователей